<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="robot_sphere"/>

  <param name="robot_description" textfile="/$(find model_cylinder/gazebo_model/cylinder.sdf" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_box" args="-param robot_description -sdf -model $(arg robot_name)"/>

</launch>
